* {
background-color:lightskyblue;

};

#game-start {
    display: flex;
    align-content: center;
}

section {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color:#000080;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
}

button {
    padding: 12px 5px;
    display: flexbox;
    margin-left: 50px;
    color:#ff0000;
    font-weight: bolder;
    background-color:#f5fffa;
}